<article class="post">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGZ8W36"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ .Render "header" }}
  {{ .Render "featured" }}
  {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
  {{ $.Scratch.Get "summary" }}
  <footer>
    <ul class="actions">
      <li><a href="{{ .RelPermalink }}" class="button big">Continue Reading</a></li>
    </ul>
  </footer>
</article>
