</div>
<div id="collaboration">Unsere Partner und <a href="/downloads" target="_blank">Downloads</a>
    <div class="container">
        <div class="row">
            <div class="col-sm space-footer">
                <a href="http://reclamgymnasium.de/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/franz_logo.jpg" alt="Franz" span title="Franz"></a>
            </div>
            <div class="col-sm space-footer">
               <a href="https://www.ofaj.org/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/ofaj.jpeg" alt="OFAJ" span title="OFAJ"></a>
            </div>
            <div class="col-sm space-footer">
                <a href="https://leipzig.institutfrancais.de/?language=de" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/institut_francais.jpg" alt="Institut francais Leipzig" span title="Institut francais"></a>
            </div>
            <div class="col-sm space-footer">
                <a href="/downloads" target="_blank"> <img class="d-block img-fluid" src="/img/collaboration/download_icon.png" span title="Downloads"></a>
            </div>
        </div>
    </div>
</div>


    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    <!-- Scripts -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
      <script src="{{ "js/backToTop.js" | relURL }}"></script>
      <script src="{{ "js/main.js" | relURL }}"></script>
      <script src="{{ "js/util.js" | relURL }}"></script>
      <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
  </body>
</html>
