    </div>
<div id="collaboration">Unsere Partner
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="http://reclamgymnasium.de/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/franz_logo.jpg" alt="Franz" ></a>
            </div>
            <div class="col-sm">
               <a href="https://www.ofaj.org/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/ofaj.jpeg" alt="OFAJ" ></a>
            </div>
            <div class="col-sm">
                <a href="https://leipzig.institutfrancais.de/?language=de" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/institut_francais.png" alt="Institut francais Leipzig" ></a>
            </div>
        </div>
    </div>



</div>
    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    <!-- Scripts -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
      <script src="{{ "js/backToTop.js" | relURL }}"></script>
  </body>
</html>
