<!-- Header -->
<header id="header">
    {{ if or .IsHome (not .Site.Params.DynamicTitles) }}
      <h1><a href="{{ "/" | relURL }}">{{ .Site.Params.navbarTitle }}</a></h1>
    {{ else if ne .Section "" }}
      <h1><a href="{{ "/" | relURL }}">{{ .Section }}</a></h1>
    {{ else }}
      <h1><a href="{{ "/" | relURL }}">{{ .Title }}</a></h1>
    {{ end }}


<!--
Das Menü war ein statisches Menü und nun eine Funktion, definiert im config.toml
 <li>
                <a href="/mitglied/">
                    <i class="fa fa-sitemap">&nbsp;</i>Mitglied
                </a>
            </li>
 Funktion macht eine ungeordnete Liste   range Iterates over a map array or slice
output für die funktion ist aus der konfig und wird zwischen range und End gezeigt. erstes die url, dann das icon im menu
und der menüname
 -->
    <nav class="links" id="menu-top">
        <ul>
        {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL  }}">
                    <i class="{{ .Pre }}">&nbsp;</i>{{ .Name }}
                </a>
            </li>
        {{ end }}
        </ul>
    </nav>


    {{ if .IsTranslated }}
    <nav class="LangNav">
        {{ range .Translations }}
            <a href="{{ .Permalink }}">
                {{  if  eq .Language.LanguageName "Francais" }}
                    <img class="flag"  src="/img/drapeau_francais.png" alt="Francais" />
                {{ else }}
                    <img class="flag" src="/img/deutsche_flagge.png" alt="Deutsch" />
                {{ end }}
            </a>
        {{ end}}
    </nav>
    {{ end }}


    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="//google.com/search">
                    <input type="text" name="q" placeholder="Search" />
                    <input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL }}">
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<div id="menu" class="side-menu-responsive">

    <!-- Search -->
        <section>
            <form class="search" method="get" action="//google.com/search">
                <input type="text" name="q" placeholder="Search" />
                <input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL }}">
            </form>
        </section>

    <!-- Links -->


    <!-- Posts List -->
        <section class="recent-posts">
            <ul id="menupunkte">
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL  }}">
                        <i class="{{ .Pre }}">&nbsp;</i>{{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            <div class="mini-posts">
                <header>
                    <h3>{{ i18n "menu_aktuelles"}}</h3>
                </header>
                {{ $.Scratch.Set "recentPosts" .Site.Pages }}

                {{ range first 4 (where ($.Scratch.Get "recentPosts") "Type" "post") }}
                        <article class="mini-post">
                            <header>
                                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                                {{ $.Scratch.Set "dateType" .Date }}
                                <time class="published" datetime=
                                    '{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                                    {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}</time>
                            </header>
                            {{ .Render "featured" }}
                        </article>
                {{ end }}

            </div>
        </section>
</div>
